@mixin set-flex($direction, $content, $item-align, $content-align) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $content;
	align-items: $item-align;
	justify-content: $content-align; 
}

@mixin set-dimension($width, $height) {
	width: $width;
	height: $height;
}

/*
=========================================
			MEDIA QUERIES
=========================================
*/
@mixin phone-view {
	@media screen and (min-width: 30em) {
		@content;
	}
}
@mixin tablet-view {
	@media screen and (min-width: 49em) {
		@content;
	}
}
@mixin desktop-view {
	@media screen and (min-width: 65em) {
		@content;
	}
}