/*Header*/
header {
    @include set-flex(column, no-wrap, center, center);
    @include set-dimension(100%, 100vh);
    color: $white;
    background: $header-color;
    .header__first-child {
        @include set-flex(column, no-wrap, center, center);
        padding-bottom: 0.5em;
        .fa-github {
            font-size: 6.0rem;
            padding: 0 0.2em;
        }
    }
    .header__last-child {
        padding: 1em 0;
        .install--command {
            max-width: 500px;
            padding: 0.5em;
            border-radius: 4px;
            background: darken($header-color, 8%);
            font-family: monospace;
        }
    }
    nav {
        text-align: center;
    }
}
