/*Header*/
.app__banner {
    width: 100%;
    height: 6em;
    background: darken($header-color, 10%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    .app__banner--firstChild {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.fa-github {
    font-size: 3em;
    padding: 0 0.2em;
}