%paragraph_fix {
    flex: 1 0 50%;
    position: relative;
    display: block;
    max-width: 100%;
    padding: 55px 10px 10px;
    margin-bottom: 1rem;
    border-radius: 2px;
    text-align: justify;
    text-justify: inter-word;
    overflow: auto;
}
%paragraph_fix-before {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 45px; line-height: 45px + .2;
    padding: 0 10px;
    //font-family: monospace;
    font-size: 1.3em;
    font-weight: bold;
}
%mini_paragraph-property {
    flex: 1 0 33%;
    padding: 1em;
    text-align: justify;
    text-justify: inter-word;
    overflow: auto;
    h3 {
        padding: 0.5em;
        margin-bottom: 1em;
        border-radius: 2px;
        background: darken($white, 10%);
        //font-family: monospace;
        text-align: center;
    }
}
%flex-property {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main {
    margin: 2em auto;
    padding: 0 1em;
    max-width: 62em;
    .content__box {
        width: 100%;
        &.top {
            height: auto;
            margin-bottom: 2em;
        }
        &.bottom {
            height: auto;
            padding: 2em 0;
        }
    }
}
/*
.code--install {
    background: lighten($grey-color, 8%);
    &::before {
        content: 'Install';
        background: $grey-color;
    }
}*/
.code--usage {
    background: lighten($grey-color, 12%);
    &.A::before {
        content: 'define globally';
        background: $grey-color;
    }
    &.B::before {
        content: 'define locally';
        background: $grey-color;
    }
}
.sample--horizontal {
    @extend %flex-property;
    align-items: center;
    @include tablet-view {
        flex-direction: row;
    }
    div {
        flex: 1 0 50%;
        width: 100%;
    }
    .sample__paragraph--A {
        @extend %paragraph_fix;
        background: lighten($green-color, 10%);
        border: 1px solid $green-color;
        &::before {
            @extend %paragraph_fix-before;
            content: 'slide transition from right to left';
            background: darken($green-color, 5%);
            color: darken($white, 85%);
        }
    }
    .sample__paragraph--B {
        @extend %paragraph_fix;
        background: lighten($peach-color, 10%);
        border: 1px solid $peach-color;
        &::before {
            @extend %paragraph_fix-before;
            content: 'slide transition from left to right';
            background: darken($peach-color, 5%);
            color: darken($white, 85%);
            text-align: right;
            height: auto;
        }
    }
}
.sample--vertical {
    @extend %flex-property;
    margin: 2em 0;
    @include tablet-view {
        flex-direction: row;
    }
    .sample__paragraph--C {
        @extend %mini_paragraph-property;
    }
    .sample__paragraph--D {
        @extend %mini_paragraph-property;
    }
    .sample__paragraph--E {
        @extend %mini_paragraph-property;
    }
}
