/*Main*/
.sample--line {
    color: darken($white, 85%);
    font-weight: bold;
}
.division--line {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        background: darken($white, 45%);
        left: 0; top: 25%;
        width: 100%; height: 1px;
    }
}
.app__content {
    margin: 2em auto;
    padding: 0 1em;
    max-width: 62em;
    .content__box {
        width: 100%;
        &.top {
            height: auto;
        }
        &.bottom {
            height: auto;
            padding: 2em 0;
        }
    }
}
code {
    display: block;
    position: relative;
    margin-bottom: 1rem;
    overflow: auto;
    max-width: 100%;
    padding: 35px 10px 10px;
    border-radius: 4px;
    color: $white;
    &::before {
        position: absolute;
        top: 0; left: 0; right: 0;
        height: 25px;
        line-height: 25px + .2;
        padding-left: 10px;
        font-weight: bold;
    }
}
.code--install {
    background: lighten($grey-color, 8%);
    &::before {
        content: 'Install';
        background: $grey-color;
    }
}
.code--usage {
    background: lighten($grey-color, 8%);
    &.A::before {
        content: 'Usage (global)';
        background: $grey-color;
    }
    &.B::before {
        content: 'Usage (local)';
        background: $grey-color;
    }
}
.sample--first {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    @include tablet-view {
        flex-direction: row;
    }
    div {
        flex: 1 0 50%;
        width: 100%;
    }
    .sample__paragraph {
        flex: 1 0 50%;
        text-align: justify;
        text-justify: inter-word;
        background: lighten($green-color, 10%);
        border: 1px solid $green-color;
        border-radius: 4px;
        padding: 55px 10px 10px;
        
        display: block;
        position: relative;
        margin-bottom: 1rem;
        overflow: auto;
        max-width: 100%;
        &::before {
            font-family: 'Laila', sans-serif;
            font-weight: bold;
            word-spacing: 0.5em;
            content: '<v-slide initPos="rightToLeft">...</v-slide>';
            position: absolute;
            top: 0; left: 0; right: 0;
            height: 45px; line-height: 45px + .2;
            padding-left: 10px;
            //font-weight: bold;
            background: darken($green-color, 5%);
            color: darken($white, 85%);
        }
    }
}
